body {
   background-color: #4b8cec; 

}
div {
    background-color: lightsteelblue;
    border: 1px solid black;
    padding: 12px;
    width:60%;
    margin: 0 auto;

}
fieldset {
    margin-bottom: 10px;

}
legend {
    background-color:papayawhip;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}
img {
    border-radius:50%;
    margin-bottom: 5px;
    margin-right:20px;
    float:left;
}
span {
    font-weight:bold;
}